@media screen and (max-width: 1200px) {
  .service__intro-text {
    margin-right: 20px; }
  .service__img {
    display: none; } }

@media screen and (max-width: 767px) {
  body {
    font-size: 12px; }
  #navbar .dropdown-menu li a {
    font-size: 0.6em; }
  #navbar ul li a:hover {
    border-bottom: 1px solid #fff; }
  nav .navbar-header img {
    width: 65%;
    margin-top: 3px;
    margin-right: 5px; }
  .navbar-toggle {
    margin-right: 5px;
    -ms-transform: scale(0.8);
        transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8); }
  .navbar-default {
    padding: 2px 0 !important; }
  .sidebar {
    display: none; }
  .service__intro-text {
    margin-right: 100px;
    padding-right: 10px; }
  .service__masters-info img {
    max-width: 40%; }
  .sign-wrapper input, .sign-wrapper select {
    width: 70%;
    text-indent: 10%; }
  .footer-contact-info .fa {
    display: none; } }

@media screen and (max-width: 414px) {
  nav .navbar-header img {
    width: 52%;
    margin-top: 6px; }
  .navbar-toggle {
    margin-right: 0;
    -ms-transform: scale(0.75);
        transform: scale(0.75);
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75); }
  .about-us .about-us__info {
    padding: 35px 0; }
  #mainSignForm h2 {
    margin-left: 0;
    font-size: 1.9em; }
  footer .footer-img-logo img {
    width: 45% !important; }
  footer .footer-menu ul li {
    display: block !important;
    padding: 3px 0; }
  footer .footer-contact-info {
    font-size: 1em; }
  .subfooter .copyright {
    margin-top: 30px; }
  .footer-contact-info {
    display: none !important; }
  .footer-contact-info-xs {
    display: block !important; } }

@media screen and (max-width: 320px) {
  .navbar-brand {
    width: 80%; }
  .services .service__brands {
    width: 80%; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select, textarea, input {
    font-size: 16px; } }
